<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530812831744-lp85og1i21vhi6h4sfrqkdal2uqb4s9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530812831744-lp85og1i21vhi6h4sfrqkdal2uqb4s9c</string>
	<key>API_KEY</key>
	<string>AIzaSyCf37VZbEDzyBeJBAq_izB2TRrcHeQtsIM</string>
	<key>GCM_SENDER_ID</key>
	<string>530812831744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imai.VoiceMatchApp</string>
	<key>PROJECT_ID</key>
	<string>voicematchapp-3d86f</string>
	<key>STORAGE_BUCKET</key>
	<string>voicematchapp-3d86f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:530812831744:ios:76bbb85614aef72cef30e5</string>
</dict>
</plist>
